# Ignore node_modules directory
node_modules/

# Ignore cache
.cache/

# Ignore build artifacts
dist/
build/
out/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore environment-specific files
.env